body{
    margin: 0px;
}
h1{
    margin: 0px;
}
.top-container{
    background-color: aqua;
    height : 200px;
    width: 200px;
    border: 10px solid black;
    padding: 20px;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
    border: 20px solid black;
    margin-left: 260px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    border: 10px solid black;
    width: 200px;
    margin-left: 500px
}
.first{
    height: 200px;
    width:  200px;
    background-color: red;
    position: relative;
    left: 400px;
    
}
.second{
    height: 200px;
    width:  200px;
    background-color: blue;
    position: relative;
    bottom: 200px;
    
}
.third{
    height: 200px;
    width:  200px;
    background-color: yellow;
    position: relative;
    left: 200px;
    bottom: 400px;
    
}
